travian-language=ru-RU; mapId1=%7B%22grid%22%3Atrue%2C%22minimap-expanded%22%3Afalse%7D; JWT=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJleHAiOjE2MDA3NzA3MTIsInByb3BlcnRpZXMiOnsic2FsdCI6IjMwZDcwMGI0YTE0ODIyYzE5ZTNhY2Y4OTQ1MmIzN2QzIiwidXVpZCI6IjEzNmM3MDAwLWY4ZWUtMTFlYS0wYTJjLTAxMDAwMDAwMTM5NCIsInB3IjoiZGY5YTczZGM1NTY4OThlMjQ4ZWY2YjlhNjNlNmJjNGFjNzdiMGY1ZiIsImhhc2giOiIwMDAwMDAwMDAwMDA0OTMxMTVlYmM4Yjk1NDQ3YzM5NCIsImxvZ2luSWQiOjUyMTM1LCJsb3dSZXMiOmZhbHNlLCJtb2JpbGVPcHRpbWl6YXRpb25zIjpmYWxzZSwidmlsbGFnZVBlcnNwZWN0aXZlIjoicGVyc3BlY3RpdmVCdWlsZGluZ3MifX0.mwar1IE9pyuunPyzeEpt61rgri4JQeLyeosrGrxvJjaMvfemUhcMStHNuP2RJdRTcRuf_aQ5Ve0Ftpi8EOwSe6WYRBplSTXk2F_NLPzoT4c8dWq5iz1T1CeCFB-dwHc4eVDml5guED5mETXE6wzJbTkskH3YSCJGgnVC2uYs5YX8x31Stn--pITY4Qr4m2N2Kgq31iefBSSj6kNb872YoY5kM1Fm7O1vZHK6EwGD1VsIMQxomhqUujILFs_QKckVtElQI-yea9PSd473NNlMV_fpQ6ii15gTkA9ocGDe_FSBZ5Apx9OfTxD0lJUNucb99VYYPNDPSVpxBklGRQP4sQ